@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

p {
    padding-top: 350px;
    font-size: 20px;
}

a {
    display: flex; 
    align-items: center;
    justify-content: center;
}

b {
height: 50px;
width: auto;
}


.title {
    background: url('assets/title.png') no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: UpDown 3.5s linear infinite;
}

@keyframes UpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}

.titlegame {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
 
}

.titlegame img {
    width: 70%;
    height: auto;
 
}

.titlebg {
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    width: 70%;
    height: auto;
}

.bg {
    background: url('assets/redwaves.png') center;
    height: 120%;
    width: 400%;
    position: absolute;
    z-index: -1;
    background-repeat: repeat-x;
    animation: bg 20s linear infinite;
    filter: blur(15px)
}


@keyframes bg {
    100% {
        transform: translateX(-1000px);
    }
}

.back {
    background-color: rgb(241, 168, 178);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.game {
    background-color: white;
    display: flex; 
    padding-top: 0px;
    padding-bottom: 15px;
    border-radius: 15px;
    width: 850px;
    height: 550px;
}

.info {
    background-position: left top;
    margin-top: 20px;
    margin-left: 220px;
    position: absolute;
    height: 100%;
    width: 100%;
}
.info img{
    width: 100px;
    height: auto;
}

.tea {
    background-position: left top;
    margin-top: 10px;
    margin-left: 330px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.tea img{
    width: 55px;
    height: auto;
}

.water {
    background-position: left top;
    margin-top: 20px;
    margin-left: 410px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.water img{
    width: 40px;
    height: auto;
}

.food {
    background-position: left top;
    margin-top: 15px;
    margin-left: 480px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.food img{
    width: 50px;
    height: auto;
}

.choc {
    background-position: left top;
    margin-top: 30px;
    margin-left: 570px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.choc img{
    width: 50px;
    height: auto;
}

.exercise {
    background-position: left top;
    margin-top: 35px;
    margin-left: 655px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.exercise img{
    width: 50px;
    height: auto;
}

.sleep {
    background-position: left top;
    margin-top: 20px;
    margin-left: 730px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.sleep img{
    width: 50px;
    height: auto;
}